#status_image {
    height: 60vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom center;
}

@media screen and (min-width: 479px) {
    #status_image {
        height: 45vh;
        background-size: contain;
    }
}

#stats_button {
    margin-bottom: 20px;
}

.centered {
    display: flex;
    justify-content: center;
    text-align: center;
}

#openness {
    margin-bottom: 5vh;
}